---
layout: archive
classes: wide
---


<h3 align="center"> "Wanna be a GREAT ROBOT ENGINEER"  </h3>
<br>

<h3>💪STACK</h3>
<p>
  Vision 👀 + Robotics 🤖
  <br>
  ✅✅✅✅🟩:
  <img src="https://img.shields.io/badge/Python-3670A0?style=flat-square&logo=python&logoColor=white" />
  <img src="https://img.shields.io/badge/PyTorch-EE4C2C?style=flat-square&logo=PyTorch&logoColor=white">
  <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=flat-square&logo=TensorFlow&logoColor=white">
  <img src="https://img.shields.io/badge/Scikit_learn-1e90ff?style=flat-square&logo=Scikitlearn&logoColor=white"/>
  <img src="https://img.shields.io/badge/ROS-181717?style=flat-square&logo=ROS&logoColor=white"/>
  <br>
  ✅✅✅🟩🟩:
  <img src="https://img.shields.io/badge/C-A8B9CC?style=flat-square&logo=C&logoColor=white"/>
  <img src="https://img.shields.io/badge/C++-00599C?style=flat-square&logo=C%2B%2B&logoColor=white"/>
  <img src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
  <img src="https://img.shields.io/badge/Git-F05032?style=flat-square&logo=git&logoColor=white"/>
  <img src="https://img.shields.io/badge/GitHub-181717?style=flat-square&logo=GitHub&logoColor=white"/>
  <img src="https://img.shields.io/badge/Arduino-008b8b?style=flat-square&logo=arduino&logoColor=white"/>
  <br>
  ✅✅🟩🟩🟩:
  <img src="https://img.shields.io/badge/AutoCAD-dc143c?style=flat-square&logo=AutoCAD&logoColor=white"/>
  <img src="https://img.shields.io/badge/jQuery-a52a2a?style=flat-square&logo=jquery&logoColor=white"/>
  <img src="https://img.shields.io/badge/HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />
  <img src="https://img.shields.io/badge/CSS3-4169e1?style=flat-square&logo=css3&logoColor=white" />
  <img src="https://img.shields.io/badge/JavaScript-F7E600?style=flat-square&logo=javascript&logoColor=white"/>
  <img src="https://img.shields.io/badge/Photoshop-31A8FF?style=flat-square&logo=Adobe photoshop&logoColor=white"/>
  <img src="https://img.shields.io/badge/Illustrator-FF9A00?style=flat-square&logo=Adobe Illustrator&logoColor=white"/>
  <img src="https://img.shields.io/badge/Premiere_Pro-9999FF?style=flat-square&logo=Adobe Premiere Pro&logoColor=white"/>
  <br>
  <br>
  <!-- Keywords -->
  <img src="https://img.shields.io/badge/Object_Detection-181717?style=flat-square"/> <img src="https://img.shields.io/badge/Semantic_Segmentation-181717?style=flat-square"/> <img src="https://img.shields.io/badge/Face Recognition-181717?style=flat-square"/> <img src="https://img.shields.io/badge/GAN-181717?style=flat-square"/> <img src="https://img.shields.io/badge/NeRF-181717?style=flat-square"/>
  <br>
  <img src="https://img.shields.io/badge/JetsonBoard_&_RealSenseCAM-181717?style=flat-square"/> <img src="https://img.shields.io/badge/LiDAR-181717?style=flat-square"/> <img src="https://img.shields.io/badge/Sensor_Fusion-181717?style=flat-square"/> <img src="https://img.shields.io/badge/Motion_Planning_&_Control-181717?style=flat-square"/> <img src="https://img.shields.io/badge/SLAM-181717?style=flat-square"/>
</p>
<br>

<h3>🎓EDUCATION</h3>
<p>
  <!-- Bachelor's degree -->
  <img src="https://img.shields.io/badge/Bachelor's degree-f0ffff?style=flat-square"/> : <img src="https://img.shields.io/badge/Mechanical_Design_Engineering (NanoBioMechanicalSystem)-181717?style=flat-square"/> <img src="https://img.shields.io/badge/4.09/4.5 (Valedictorian😏)-181717?style=flat-square"/> <img src="https://img.shields.io/badge/JBNU(Korea)-181717?style=flat-square"/>
  <br>
  <!-- Master's degree -->
  <img src="https://img.shields.io/badge/Master's degree-f0ffff?style=flat-square"/> : <img src="https://img.shields.io/badge/Electronics and Information Engineering (Studied AI)-181717?style=flat-square"/> <img src="https://img.shields.io/badge/4.06/4.5-181717?style=flat-square"/> <img src="https://img.shields.io/badge/JBNU(Korea)-181717?style=flat-square"/>
  <br>
  <!-- NOW -->
  <img src="https://img.shields.io/badge/Now-f0ffff?style=flat-square"/> : <img src="https://img.shields.io/badge/Still in the LAB (JBNU)-181717?style=flat-square"/> <img src="https://img.shields.io/badge/Research Assistant, Teaching Assistant and LAB Manager as a Researcher-181717?style=flat-square"/> <img src="https://img.shields.io/badge/I want to escape 🙏-ff0000?style=flat-square"/>
</p>
<br/>

  
  
  

<!-- {{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}


{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
    {% include archive-thumbnail.html %}
  {% endfor %}
</div>

{% include paginator.html %} -->
